<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Plataforma{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <!-- Barra de navegación superior -->
    <nav class="top-nav">
        <div class="nav-logo">
            <a href="{{ url_for('content.home') }}">
                <img src="{{ url_for('static', filename='img/logo-escuela.png') }}" alt="Logo de la escuela">
            </a>
        </div>
        <ul class="nav-menu">
            <li>
                <a href="{{ url_for('content.home') }}"><i class="fa-solid fa-school"></i>Inicio</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-user-tie"></i>Reportes</a>
                <ul class="nav-submenu">
                    <li><a href="{{ url_for('content.subopcion3') }}">Ver reportes</a></li>
                    <li><a href="{{ url_for('content.subopcion4') }}">Descargar reportes</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-user-tie"></i>Configuración</a>
                <ul class="nav-submenu">
                    <li><a href="{{ url_for('content.subopcion5') }}">Gestionar Usuarios</a></li>
                    <li><a href="{{ url_for('content.subopcion6') }}">Gestionar Modelo</a></li>
                    <li><a href="{{ url_for('content.subopcion2') }}">Ver archivos subidos</a></li>
                </ul>
            </li>
            <li class="logout">
                <a href="{{ url_for('auth.login') }}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
            </li>
        </ul>
    </nav>

    <!-- Contenido principal -->
    <div class="container">
        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>

    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>